@media only screen and ( min-width: 800px ) {
    .container {
        margin: 0;
        padding: 0;
        width:100%;
    }
    .intro {
        width: 100%;
        padding: 100px;
        background-color: rgb(0, 0, 0);
        color: white;
    }
    .project__title {
        font-size: 70px;
    }

    .project__cards {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .project__btn {
        margin: 30px 0;

    }
    .project__btn button {
        padding: 0;
    }
    .interests {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}